body {
  background-color: #fdf1d6;
  font-family: "Times New Roman", serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* 2. Header and search bar */
header h1 {
  font-size: 3.5rem;
  margin: 30px 0 10px 0;
  font-weight: normal;
}

.search-container {
  margin-bottom: 25px;
}

.search-bar {
  width: 320px;
  padding: 10px 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  text-align: center;
  outline: none;
}

/* navigation bar */

nav, .orange-bar {
  background-color: #FFB347;
  height: 60px; 
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding-left: 60px;
  gap: 40px; 
}


.orange-bar {
  margin-top: 25px; 
}

nav a {
  text-decoration: none;
  color: #000; 
  font-weight: bold;
}

nav a:hover {
  color: #FFFFFF;
  transition: color 0.3s ease;
}

/* Footer Container */
.footer-section {
    padding: 0px 20px 40px 20px;
    background-color: #fdf1d6;
    text-align: left;
}

/* ArtVault text */
.brand-name {
    font-family: "Times New Roman", serif;
    font-size: 40px;
    color: #000000;
    margin-top: 10px;      
    margin-left: 25px;     
    margin-bottom: 25px;
}

/* Clickable Link */
.footer-links {
    display: flex;
    flex-direction: column; 
    gap: 12px;              
}

/* Link Styling */
.footer-links a {
    font-family: "Times New Roman", serif;
    font-size: 16px;
    color: #000000;
    text-decoration: none; 
    width: fit-content;    
    transition: color 0.2s ease;
    margin-left: 25px;
}

.footer-links a:hover {
    color: #fff;       
}