{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='artworks.css') }}">
{% endblock %}

{% block body %}
<div class="artworks-page">

    <div class="top-row">
        <img src="https://api.nga.gov/iiif/5dc133fb-5304-4ccb-b715-9361f638f281/0,2403,25143,13200/!1200,630/0/default.jpg" alt="Art Museum">
        <div class="overlay-text">
            <h2>Artists</h2>
            <p>Discover Legendary Master Painters</p>
        </div>
    </div>


    <div class="movements-section">
        <h2>Featured Artists</h2>
        <div class="movements-grid-4">
            {% for artist in artists %}
                <a href="{{ url_for('filter_page', artist_id=artist['ArtistID']) }}" class="movement-card">
                    <div class="movement-bg" style="background-image: url('{{ artist['ArtistImage'] }}');"></div>
                    <div class="movement-overlay"></div>
                    <span class="movement-title">{{ artist['ArtistName'] }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}