{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='artworks.css') }}">
{% endblock %}

{% block body %}
<div class="artworks-page">

    <div class="top-row">
        <img src="https://cdn.topofart.com/images/artists/Harmenszoon_van_Rijn_Rembrandt/paintings-wm/rembrandt007.webp" alt="Art Museum">
        <div class="overlay-text">
            <h2>Art Works</h2>
            <p>Explore The Famous Paintings</p>
        </div>
    </div>

    <div class="movements-section">
        <h2>Art Movements</h2>
        <div class="movements-grid-4">
            {% for movement in movements %}
                <a href="{{ url_for('filter_page', movement_id=movement['MovementID']) }}" class="movement-card">
                    <div class="movement-bg" style="background-image: url('{{ movement['MovementImage'] }}');"></div>
                    <div class="movement-overlay"></div>
                    <span class="movement-title">{{ movement['MovementName'] }}</span>
                </a>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}