{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block body %}

<div class="home-page">

   <div class="top-row">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUgOoyDOUYUj7XEMIqyzkdPnlUx8JLt-R1exQpTWWFZUXxD0SPGpmS5ZyF&s=10" alt="Art Museum">
        <div class="overlay-text">
            <h2>Explore Art</h2>
        </div>
    </div>
    
    <div class="content-wrapper">
        <div class="favorites-grid"></div>
    </div>

    <div class="orange-bar"></div>

    <hr class="divider">

    <div class="content-wrapper">
        <h2 style="text-align: left;">Favourites</h2>
        <div class="favorites-grid">
        {% for painting in Paintings %}
            {% if painting[0] in [5, 15, 13, 14] %}
                <div class="image-container">
                    <img src="{{ painting[7] }}" alt="{{ painting[1] }}">
                    <h3>{{ painting[1] }}</h3>
                    <p>{{ painting[2] }}</p>
                </div>
            {% endif %}
        {% endfor %}
        </div> 
    </div> 
    
   {% endblock %}