<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Vault</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
<div class="row">
  <div class="column"></div>
  <div class="column"></div>
  <div class="column"></div>
</div>
    
    
    
    <header>
        <h1>Art Vault</h1>
        <div class="search-container">
            <input type="text" placeholder="Search bar" class="search-bar">
        </div>
    </header>

   <nav>
    <a href="{{ url_for('home') }}">Home</a>
    <a href="{{ url_for('artworks') }}">ArtWorks</a>
    <a href="{{ url_for('artist') }}">Artist</a>
</nav>

    <main>
        {% block body %}{% endblock %}
    </main>

</body>
</html>